DB_USERNAME=sa
DB_PASSWORD=example

JWT_SECRET_KEY=3c961313c2c10f3db53c44db6066264d7dfc02604d55b08339178652d87e1a3c
JWT_EXPIRATION_MINUTES=15

BRUTE_FORCE_MAX_ATTEMPTS=5
BRUTE_FORCE_LOCK_TIME_MINUTES=15